################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/Fountain.WinConsole.NPOIDemo
/Fountain.WinConsole.NPOIDemo/bin/Debug
/Fountain.WinConsole.NPOIDemo/obj/Debug
